<div class="carrossel">
    <nav class="navegacao">       	
        <ul class="pontos">
            <li 
                class="ponto"
                ng-class="{'ativo':ehPaginaAtual($index + 1)}"
                ng-repeat="pagina in (0|number:totalPaginas - 2 ) track by $index" 
                ng-click="atualizarPagina($index + 1);">
                {{$index + 1}}
             </li>
        </ul>
    </nav>    
    <div 
        ng-transclude 
        class="paginas {{direcao}}" 
        ng-swipe-left="paginaAnterior()" 
        ng-swipe-right="proximaPagina()"></div>    
    <a class="seta anterior" ng-click="paginaAnterior()"></a>
    <a class="seta proxima" ng-click="proximaPagina()"></a>
</div>