.acordeon {
    width: 90%;
    height: 90%;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;
    /* border: 2px solid red; */
    overflow: hidden;
    /* float: left; */
}

.item {
    transition: all linear 0.5s;
    width: 98%;
    /* border: 0.1em solid red; */
    overflow: hidden;
    /* left: 0.5%; */
    position: relative;
    /* top: 0.5%; */
    /* float: left; */
    margin: 1%;
}

.item-fechado {
    height: 5%;   
    background: red;
    /* border: 0.1em solid blue; */
    /* overflow: hidden; */
    /* margin: 1%; */
}

.item-aberto {
    height: 79%;
    background: green;
    /* border: 0.1em solid red; */
    /* overflow: hidden; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    z-index: 1003;
}

.item-cabecalho {
    width: 98%;
    /* left: 0%; */
/*     top:5px; */
    /* background: yellow; */
    position: relative;
    margin: 1%;
}

.item-cabecalho.item-aberto {
    height: 10%;

    background-color: yellow;

}

.item-cabecalho.item-fechado {
    height: 70%;
    background-color: blue;
}