.acordeon {
    width: 90%;
    height: 90%;
    position: relative;
    margin-left: 5%;
    /* margin-top: 5%; */
    background-color: white;
    /* border: 2px solid red; */
    overflow: hidden;
    /* float: left; */
}

.item {
    transition: all linear 0.5s;
    width: 98%;
    /* border: 0.1em solid red; */
    overflow: hidden;
    /* left: 0.5%; */
    position: relative;
    /* top: 0.5%; */
    /* float: left; */
    /* margin: 1%; */
}

.item-fechado {
    height: 5%;   
    background: red;
    /* border: 0.1em solid blue; */
    /* overflow: hidden; */
    /* margin: 1%; */
    z-index: 1001;
}

.item-aberto {
    height: 79%;
    background: green;
    /* border: 0.1em solid red; */
    /* overflow: hidden; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1003; */
}

.item-cabecalho {
    width: 98%;
    /* left: 0%; */
/*     top:5px; */
    background: yellow;
    position: absolute;
    /* margin: 1%; */
    /* z-index: 1001; */
}

.item-cabecalho p {
    width:100%;
    position: absolute;
    top: -14px
}

.item-cabecalho.item-aberto {
    height: 10%;

    background-color: yellow;

    width: 10%;
    overflow: hidden;
    background: url(../img/pitr-green-menu-icon-set-2.png) no-repeat;
    background-size: 100%;
    z-index: 1003;
}

.item-cabecalho.item-aberto p {    
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.item-cabecalho.item-fechado {
    height: 70%;
    background-color: blue;
}