<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bolão</title>
    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="launcher-icon-4x.png">
        
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="app/index.css">
    <link rel="stylesheet" href="components/acordeon/css/styles.css">
    <link rel="stylesheet" href="components/carrossel/css/styles.css">
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
  </head>
  <body ng-app="bolao" ng-controller="ControlePrincipal" ng-cloak>
	<menu>
		<figure>            
			<img ng-src="launcher-icon-2x.png">
		</figure>
		<ul>
			<li><a ng-controller="Oauth" ng-click="authenticate();$event.stopPropagation();">Login</a></li>
			<li><a ng-click="telaAdmin();$event.stopPropagation();">Administracao</a></li>
			<li><a ng-click="telaCadastro();$event.stopPropagation();">Cadastro</a></li>			
		</ul>
	</menu>
 
  <div class="bolao">  	  
	  <acordeon>
		  <item ng-repeat="boleiro in boleiros" boleiro="boleiro" indice="{{$index}}">
		  <!--item ng-repeat="boleiro in boleiros" indice="{{$index}}" boleiro="boleiro"-->
			  <carrossel total-paginas="38"  boleiro="boleiro">
				  <pagina ng-repeat="rodada in boleiro.rodadas" conteudo="rodada">
				  	<form ng-submit="atualizar(boleiro, rodada.id)">
						<table class="rodada">
<!-- 						<table> -->
						  <tr class="cabecalho-pagina">
							<td colspan="3">Mandante</td>
							<td colspan="3">Visitante</td>
						  </tr> 
						  <tr ng-repeat="jogo in ::rodada.jogos">
							  <td class="time-escudo"><img ng-src="assets/images/times/{{jogo._source.mandante}}.png"></td>
							  <td class="time-nome">{{jogo._source.mandante}}</td>
							  <td class="time-placar"><input ng-readonly="somenteLeitura(jogo._source.rodadas_data)" type="number" min="0" ng-model="jogo._source.mandante_gols" stop-event="touchend click"/></td>
							  <td>x</td>
							  <td class="time-placar"><input ng-readonly="somenteLeitura(jogo._source.rodadas_data)" type="number" min="0" ng-model="jogo._source.visitante_gols" stop-event="touchend click"/></td>
							  <td class="time-nome">{{jogo._source.visitante}}</td>
							  <td class="time-escudo"><img ng-src="assets/images/times/{{jogo._source.visitante}}.png"></td>				  
							</tr>
						</table>
						<input ng-show="ehAtualizavel(rodada)" type="submit" id="submit" value="Atualizar" stop-event="touchend click"/>						
					</form>
				  </pagina>
			  </carrossel>
		  </item>
	  </acordeon>
  </div>   
    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <script src="components/carrossel/js/carrossel.js"></script>
    <script src="components/acordeon/js/acordeon.js"></script>
    <script src="app/index.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/googleOauth.js"></script>
    <script src="app/main/angularOauth.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
