<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bolao</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">   
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="app/index.css">
    <link rel="stylesheet" href="components/acordeon/css/styles.css">
    <link rel="stylesheet" href="components/carrossel/css/styles.css">
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-app="bolao" ng-cloak>
  
  <div class="bolao" ng-controller="ControlePrincipal">
	  <acordeon>
		  <item ng-repeat="boleiro in boleiros | orderBy:['-pontos','-placares']" indice="{{$index}}" boleiro="boleiro">
			  <carrossel total-paginas="boleiro.totalRodadas"  boleiro="boleiro">
				  <pagina ng-repeat="rodada in boleiro.rodadas" conteudo="rodada"> 
				    <table class="rodada">
				      <tr class="cabecalho-pagina">
				      	<td colspan="3">Mandante</td>
				      	<td colspan="3">Visitante</td>
				      	<td colspan="2">Pontos</td>
				      </tr> 
				      <tr ng-repeat="jogo in rodada.jogos">
						  <td class="time-escudo"><img ng-src="{{jogo.mandante.escudo}}"></td>
						  <td class="time-nome">{{jogo.mandante.nome}}</td>
						  <td class="time-placar">{{jogo.mandante.gols}}</td>
						  <td>x</td>
						  <td class="time-placar">{{jogo.visitante.gols}}</td>
						  <td class="time-nome">{{jogo.visitante.nome}}</td>
						  <td class="time-escudo"><img ng-src="{{jogo.visitante.escudo}}"></td>
						  <td class="time-pontos">{{jogo.pontos}}</td>
						</tr>
    				</table>
				  </pagina>
			  </carrossel>
		  </item>
	  </acordeon>
  </div>   

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <script src="components/carrossel/js/carrossel.js"></script>
    <script src="components/acordeon/js/acordeon.js"></script>
    <script src="app/index.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <script src="app/main/main.controller.js"></script>
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
