<section class="adm">
    <nav>
        <div ng-repeat="pagina in (0|number:38 - 2 ) track by $index">{{$index + 1}}</div>
    </nav>
    <header>
        <div>
            Mandante
        </div>
        <div>
            Placar
        </div>
        <div>
            Visitante
        </div>
    </header>
    <div  class="jogos">
        <article class="jogo" ng-repeat="jogo in gabarito.rodadas[0].jogos">
        <div class="escudo">
            <img ng-src="assets/images/times/{{jogo._source.mandante}}.png">
        </div>
        <div>
            {{jogo._source.mandante}}
        </div>
        <div class="placar">
            {{jogo._source.mandante_gols}}
        </div>
        <div class="placar">
            x
        </div>
        <div class="placar">
            {{jogo._source.visitante_gols}}
        </div>
        <div>
            {{jogo._source.visitante}}
        </div>
        <div class="escudo">
            <img ng-src="assets/images/times/{{jogo._source.visitante}}.png">
        </div>
        </article>
    </div>
    <footer>
        <div>Número: {{conteudo.id}}</div>
        <div>Total de Pontos: {{conteudo.pontos}}</div>
        <div>Data: {{conteudo.data  | date : 'dd/MM/yyyy'}}</div>
        <div>Total de Placares: {{conteudo.placares}}</div>                
        <div><a href="/">Início</a></div>
    </footer>
</section>
