* {
    margin: 0;
    padding: 0;
}

/* Isto é necessário para não haver rolagens horizontais quando movermos os elementos */
html, body {overflow-x: hidden;}

/*
        Force full width & height.

        If this block is removed, the layout height/length will be determined by
        the amount of content in the page. That might result in a page which has
        a footer only a few inches from the top of the viewport, or one which
        scrolls beyond the viewport.

        This forces the layout to always be full screen regardless of how much,
        or how little, content is in place. Neither is "right" or "wrong", there
        are valid cases for each. I just want to be clear what's controlling the
        page/viewport height.
      */
html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* items flex/expand vertically */
.vbox {
    display: flex;    
    flex-direction: column;
}

/* items flex/expand horizontally */
.hbox {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.conteiner-itens {
    flex: 0.2;
}

.item-aberto {
    flex: 10;
}

.item-fechado {
    flex: 0.2;
}























.bolao {
    position: absolute;
    width:100%;
    height:100%;
	/* Não permite a seleção de texto      */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.rodada {
    background-color: #f1c40f;
    border-collapse: collapse;
    width: 100%;
/*     margin-left: 10%; */
    table-layout: fixed;
}

 .rodada td {	
    overflow:hidden;
}

.rodada .time-placar {
    width: 20%;
}

.rodada .time-nome {
    width:2%;
}

.rodada .time-escudo {
    width: 20%;
    height: 20%;
}

.rodada .time-escudo img {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.rodada .time-pontos {
    width: 100%;
}

.rodada .cabecalho-pagina {
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    background-color:white;
}

/* @media (min-width: 200px) {
    .bolao {
        width: 100%;
        height: 75%;
        font-size: 80%;
    }

    .rodada {
        font-size: 90%;
        width: 90%;
        margin-left: 5%;
    }
} */
/* 
@media (min-width: 400px) {
	  .bolao {
        height: 80%;
        font-size: 150%;
	  }
}

@media (min-width: 650px) {
	  .bolao {
        height: 99%;
        font-size: 200%;
	  }
}

@media (min-width: 880px) {
	  .bolao {
        height: 150%;
        font-size: 260%;
	  }
}


@media (min-width: 1160px) {
	  .bolao {
        width: 1000px;
        height: 195%;
        left: 50%;
        margin-left: -500px;
        font-size: 250%;
	  }
}

@media (min-width: 880px) and (max-height: 600px) and (orientation : landscape) {
	.bolao {
	  height: 200%;
	  font-size: 150%;
	  width: 880px;
	  left: 50%;
	  margin-left: -440px;
	}

	.rodada .escudo img {
	  width: 50%;
	}

	.item-cabecalho.item-fechado img {
	  width: 5% !important;
	}

	.item-cabecalho.item-aberto img {
	  width: 50% !important;
	}
}

@media (min-width: 880px) and (max-height: 200px) and (orientation : landscape) {
	.bolao {
	  height: 180%;
	  width: 800px;
	  left: 50%;
	  margin-left: -400px;
	  font-size: 100%;
	}

	.rodada .escudo img {
	  width: 40%;
	}

	.item-cabecalho.item-fechado img {
	  width: 4% !important;
	}

	.item-cabecalho.item-aberto img {
	  width: 40% !important;
	}
} */

/* @media (min-width: 250px) {
    .bolao {
        height: 150%;
        width: 97%;
        font-size: 120%;
    }
    .conteudo {
    	top:20%!important;
    }
}

@media (min-width: 200px) and (orientation : landscape) {
    .bolao {
        height: 190%;
        width: 95%;
        font-size: 85%;
    }
}

@media (min-width: 500px) and (orientation: landscape) {
	.bolao {
	  height: 200%;
	  width: 98%;
	  font-size: 125%;
	}
}

@media (min-width: 800px) and (orientation: landscape) {
	.bolao {
	  height: 180%;
	  width: 70%;
	  left: 50%;
	  margin-left: -35%;
	  font-size: 200%;
	}
} */

