<div class="carrossel">
    <nav class="navegacao">        
        <div class="envelope">      	
            <ul class="pontos">
                <li class="ponto" ng-repeat="pagina in paginas">                
                    <a  href="#" 
                        ng-class="{'ativo':indicePaginaAtual($index)}"
                        ng-click="atualizarIndice($index);">{{pagina.descricao}}
                    </a>
                 </li>
            </ul>
        </div>
    </nav>    
    <div ng-transclude></div>    
    <a class="seta anterior" href="#" ng-click="paginaAnterior()"></a>
    <a class="seta proxima" href="#" ng-click="proximaPagina()"></a>
</div>