<div 
    ng-transclude
    ng-class="direcao == 'esquerda' ? 'esquerda' : 'direita'"
    class="pagina" 
    ng-mouseleave="detalheVisivel = true"
    ng-click="alternarDetalhe()"
    ng-hide="!visivel">    
</div>

<div 
    ng-show="detalheVisivel" 
    ng-click="alternarDetalhe()" 
    class="detalhe">
    
    <p>Detalhes da Rodada</p>
    <br>
    <label>Número </label><input class="caixa-texto" type="text" disabled="true" value="{{$parent.$index}}"></input>
    <br>
    <label>Descrição </label><input class="caixa-texto" type="text" disabled="true" value="{{conteudo.descricao}}"></input>
        
</div>
        