<div class="item {{situacao}}">
    <div
        class="item-cabecalho {{situacao}}"    
        ng-click="abrir(indice)">
        <img ng-src="{{boleiro.foto}}">
        <div class="nome">{{boleiro.nome}}</div>
        <div class="valores">Pontos<br> {{boleiro.pontos}}</div>
        <div class="valores">Placares<br> {{boleiro.placares}}</div>
        <div class="media">Média
            <br> pt: {{boleiro.mediaPontos}} pl: {{boleiro.mediaPlacares}}
        </div>
    </div>
    <div ng-transclude></div>
</div>