<div class="item {{situacao}}">
    <div
        class="item-cabecalho {{situacao}} {{tipo}}"    
        ng-click="abrir(indice)">
        <figure>
            <img ng-src="{{boleiro.foto}}">
            <img ng-src="assets/images/times/Flamengo.png">
            <figcaption>Meu campeão: 10 pontos</figcaption>        
        </figure>
        <div class="nome">{{boleiro.key}}</div>
        <div class="valores">Pontos<br> {{boleiro.pontos.value}}</div>
        <div class="valores">Placares<br> {{boleiro.placares.value}}</div>
        <!--div class="media">Média <br> 
            pt: {{boleiro.mediaPontos | number:1}} pl: {{boleiro.mediaPlacares | number:1}}
        </div-->
    </div>
    <div ng-transclude></div>
</div>