<div class="pagina" ng-hide="!visivel">
    <div
        ng-transclude
        ng-click="alternarDetalhe()">
    </div>

    <div 
        ng-click="alternarDetalhe()" 
        class="detalhe"
        ng-class="{ocultar : !detalheVisivel}">    
        <div>Detalhes da Rodada</div>
        <label>Número </label><input class="caixa-texto" type="text" ng-click="$event.stopPropagation();" value="{{$parent.$index}}"></input>
        <label>Descrição </label><input class="caixa-texto" type="text" ng-click="$event.stopPropagation();" value="{{conteudo.descricao}}"></input>        
    </div>
</div>
