.carrossel {
    width: 100%;
    height: 100%;
    background: #e6e6e6;
}

.seta {
    position: absolute;
    z-index: 1002;
    display: block;
    width: 10%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background: url(../img/blank.gif) no-repeat center center;
/*     background-position-y: center;     */
    background-color: black;    
    opacity: 0.1;
    border-radius: 20%;
}

.seta.anterior {
    left: 1%;
    background-image: url(../img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.seta.proxima {
    right: 1%;
    background-image: url(../img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.seta.anterior:hover {
    opacity: 0.8;
    background-image: url(../img/paddle_prev_fff.png);
}

.seta.proxima:hover {
    opacity: 0.8;
    background-image: url(../img/paddle_next_fff.png);
}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.navegacao {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    padding: 1em 0 .8em;
    /* left: 0; */
    /* right: 0; */
}

.navegacao ul {
    /* margin: 0; */
    /* width: 100%; */
    /* margin-right: 49px; */
    left: -8px;
}

.navegacao .ponto,.navegacao .ponto a {
    display: inline-block;
    zoom: 1;
}

.pontos .ponto {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.pontos .ponto a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.pontos .ponto a.ativo {
    border-color: #FFF;
    background-color: transparent;
}

/**************************** MEU CSS PARA ANIMAÇÃO */

/* Ativa a animação */

.pagina {
    transition: all linear 0.5s;
    position: absolute;
    top: 0;
    text-align:center;
    width:100%;
    height: 100%;
    opacity: 0.5;
    overflow: hidden;
}

.pagina img {
    max-height:100%;
    max-width: 100%;
    width:100%;
    margin:auto;
}

.pagina.esquerda {
    right: 0;
}

.pagina.esquerda.ng-hide {
    display: block !important;
    width: 0px;
    left:0;
}

.pagina.direita.ng-hide {
    display: block !important;
    width: 0px;
    right:0;
}



/* Detalhes */

pagina {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.detalhe {        
    transition: all linear 0.5s;
    background-color: black;
    border: 1px solid red;
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0px;
    z-index: 1000;
    opacity: 0.8;
    overflow: hidden;

    color:white;
    font-size:0.8em;
}

.detalhe .caixa-texto {
    width: 10%; 
    height: 5%
}

.detalhe.ocultar {
/*     display: block !important; */
    bottom: -20%;    
}
