<div ng-controller="MenuCtrl" class="{{menuActive}}">
    <header>
        <span class="menu-anchor" ng-click="abrir()"></span>
        <h1><a href="#">Bolão dos Combinados</a></h1>
    </header>    
    <div class="menu-main">
		<figure>            
			<img ng-src="launcher-icon-2x.png">
		</figure>
		<ul>
			<li><a ng-controller="LoginCtrl" ng-click="authenticate('google')">Login</a></li>
			<li><a ng-click="telaAdmin();$event.stopPropagation();">Administracao</a></li>
			<li><a ng-controller="PerfilCtrl" ng-click="cadastrar()">Cadastro</a></li>		
		</ul>
    </div>
</div>
