.adm {    
    display: flex;
    flex-direction: column;
    flex: 1;    
    height: inherit;
    text-align: center;
}

.adm > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 2;
    overflow-y: auto;
}

.adm > nav > div {
    width: 5%;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid #ffd700;
    padding: 0.1em;
    margin: 0.1em;
    color: black;
    font-weight: bold;
    background-color: #D3D3D3;
}

.adm > nav > div:hover, .adm > nav > .ativo {
    border-color: gray;
    background-color: #ffd700;
    color: black;
}

.adm > header,
.adm > footer {
    border-top: dotted;
    background-color:#D3D3D3;
    font-weight: bold;
    
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.adm > header > div,
.adm > footer > div {
    margin: auto;
}

.adm > .jogos {
    display: flex;
    flex-flow: row wrap;
    flex: 10;
    overflow-y: auto;
}

.adm > .jogos .jogo {
    display: flex;
    width: 100%;
}

.adm > .jogos .jogo div {
    overflow: hidden;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.25em;
    flex: 7;
}

.adm > .jogos > .buiu {
    margin:auto;
}

.adm > .jogos > .jogo .placar {
    border: none;
    flex: 1;
}

.adm > .jogos > .jogo > .escudo {
    border: none;
}

.adm > .jogos > .jogo > .escudo > img {
/*     display:none; */
    max-width: 50%;
}

@media (min-width: 800px) {
    .viewport > .adm {
        width:50%;
        margin-left: 25%; 
    }
}

