.acordeon {
    width: 100%;
    height: 100%;
    position: relative;
}

.item {
    transition: all linear 0.4s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.item-fechado {
    height: 10%;
    background-color: white;
    z-index: 1001;

    border-bottom: 1px ridge wheat;
}

.item-aberto {
    height: 50%;
    border-radius: 4%;
}

.item-cabecalho {
    width: 100%;
    position: absolute;
    border-radius: 5%;

}

.item-cabecalho figure {    
    float: left;
    color:red;
    margin: 0;
    font-size: 80%
}

.item-cabecalho.item-fechado figure {
    width: 21%;
}

.item-cabecalho.item-fechado figure img {
    width: 45%;
}

.item-cabecalho.item-fechado.item-premiado {
    background-color: #B0DAB0;
}

.item-cabecalho.item-aberto figure {
    width: 100%;  
}

.item-cabecalho.item-aberto figure img {
    width: 100%;
}

.item-cabecalho.item-aberto {
    height: 16%;
    width: 10%;
    overflow: hidden;
    z-index: 1003;
}

/* .item-cabecalho.item-aberto figure img {
    width:100%;
} */

.item-cabecalho.item-aberto div {    
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.item-cabecalho.item-fechado {    
    color: wheat;       
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    height: 100%;
}

.item-cabecalho.item-fechado div {
    margin: 1%;
    padding: 2%;
    border-radius: 50%;
    background-color: black;
    float: left;
    overflow:hidden;
}

/* .item-cabecalho.item-fechado figure img { 
    width:20%;
} */


.item-cabecalho.item-fechado .nome {    
    font-size: 110%;
    width: 20%;    
}

.item-cabecalho.item-fechado .valores {
    width: 12%;   
}

.item-cabecalho.item-fechado .media {
    width: 15%;
    font-size: 75%;
}