.bolao {
    position: absolute;    
    width: 2024px;
    height: 80%;
    /* background-color: black; */
    /* top: 50%; */ 
    /* left: 50%; */
    /* margin-left: -1024px; /* HALF OF THE WIDTH */
    /* margin-top: -512px; */ /* HALF OF THE HEIGHT */       

}

/* styles for browsers larger than 960px; */
@media only screen and (min-width:550px){
    .bolao {
        width: 540px;
        height: 75%;
    }
}

/* styles for browsers larger than 960px; */
@media only screen and (min-width:960px){
    .bolao {
        width: 950px;
        height: 126%;        
        left: 50%;
        margin-left: -475px;
    }
}

@media only screen and (max-device-width:320px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   .bolao {
        width: 310px;
        height: 65%;
    }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 600px) and (max-device-width: 900px) and (orientation:portrait) {
  /* For portrait layouts only */
  .bolao {
        width: 590px;
        height: 75%;
        left: 50%;
        margin-left: -295px;
    }
}


.rodada {
  font-size: 60%;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  /* border: 1px solid #7a7; */
  /* position: inherit; */
  /* text-align: center; */

  width: 80%;

  margin-left: 10%;
  /* border-bottom: 1px dotted #ffd700; */
  /* height: 73%; */
}

/* .rodada td {
  text-align: right;
  padding-right: 0.5em;
  font-size: 100%;
  border: 1px solid red;
  border-bottom: 1px dotted #ffd700;
} */

.rodada td.direita {
  text-align: left;
}

/* table.rodada tr:first-child > td:first-child{
  width: 15%;
} */

/* .rodada td img {
  width: 78%;
  min-width: 50%;
  border: 1px solid red;
  height: 26%;
} */