<!doctype html>
<html ng-app="plunker">
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
<script
	src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
<script src="example.js"></script>
<link
	href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
	rel="stylesheet">
</head>
<body>
	<h1>Teste</h1>
	<div ng-controller="AccordionDemoCtrl">
		<label class="checkbox"> <input type="checkbox"
			ng-model="oneAtATime"> Open only one at a time
		</label>

		<accordion close-others="oneAtATime"> <accordion-group
			heading="Static Header, initially expanded" is-open="true">
		This content is straight in the template. </accordion-group> <accordion-group
			heading="{{group.title}}" ng-repeat="group in groups">
		{{group.content}} </accordion-group> <accordion-group heading="Dynamic Body Content">
		<p>The body of the accordion group grows to fit the contents</p>
		<button class="btn btn-small" ng-click="addItem()">Add Item</button>
		<div ng-repeat="item in items">{{item}}</div>
		</accordion-group> <accordion-group is-open="isopen"> <accordion-heading>
		I can have markup, too! <i class="pull-right"
			ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i>
		</accordion-heading> This is just some content to illustrate fancy headings. </accordion-group> </accordion>
	</div>
</body>
</html>
